.admin-panel-layout {
    padding: 0 10px;

    &__header {
        margin-bottom: 20px;
    }
}

.logout-alert {
	background: red;
	color: white;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	size: 16pt;
}
