@import 'scss/reset';
@import 'scss/vars';
@import 'scss/typography';
@import 'scss/base';
@import 'scss/font_awesome/font-awesome';
@import 'scss/react-draft-wysiwyg';

@import 'core-components/*';
@import 'app-components/*';
@import 'app/*';

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
