.create-ticket-form {
	&__input {
		width: 75%;
	}

	&__area {
		width: 75%;
		height: 150px;
	}

    &__file {
        text-align: left;
    }

    &__message {
        margin-top: 20px;
    }

    &__captcha {
        margin: 0 auto 20px;
        height: 78px;
        width: 304px;
    }
}
